html {
  font-family: var(--font);
}
h1 {
  /* font-family: var(--font); */
  font-weight: bold;
  font-style: italic;
}

.scroll {
}

.spell-list li {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.spell-list li .buttons {
}
