@font-face {
  font-family: fairfax; /* set name */
  src: url(font/Fairfax.ttf); /* url of the font */
}
@font-face {
  font-family: fairfax; /* set name */
  src: url(font/FairfaxItalic.ttf); /* url of the font */
  font-style: italic;
}
@font-face {
  font-family: fairfax; /* set name */
  src: url(font/FairfaxBold.ttf); /* url of the font */
  font-weight: bold;
}

:root {
    --font: fairfax, serif;

    font-size: 20px;
}